body {
    margin: 0;
    font-family: 'Dongle', sans-serif;
    background-color:#ffffff;
    color: mediumpurple;
}

body > header {
    background-color: lavender;
    color: mediumpurple;
}

body > main {
    width: 90%;
    margin: auto;
}

body > main > article {
    width: 70%;
    margin: auto;
}

body > footer {
    background-color: lavender;
    color: mediumpurple;
    text-align: center;
}

#main-logo {
    margin-top: 0;
    text-align: center;
    font-size: 60px;
}

nav > ul {
    list-style: none;
    display: flex;
}

nav > ul > li > a {
    color: mediumpurple;
    font-size: 20px;
}

aside > ul > li > a {
    color: mediumpurple;
}